---
layout: default
title: About Us
permalink: /about
---

<main>
    <!-- Start Breadcrumb Area -->
    {% comment %} <div class="page-area bread-pd">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-title text-center">
                        <h2>{{page.title}}</h2>
                        <div class="bread-come">
                            {% include breadcrumb.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- End Breadcrumb Area -->

    {% include sections/o-service-section.html %}

    <!-- Start About area -->
    <div class="about-area area-padding">
        <div class="container">
            <div class="row">
                <!-- Start Column Start -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="about-text">
                        <div class="left-headline">
                            <span class="top-text">
                                <i class="ti-user"></i>
                                <span>About us</span>
                            </span>
                            <h2>Follow our news for growth your online business</h2>
                            <p>Recently, there has been a realization that language technologies have been leaving certain languages behind - including most African languages. While Google Translate offers translation services in several African languages,
                                 no Ghanaian languages are included, and even for the included languages the quality has been generally found to be quite poor.
                                 Major challenges boil down to lack of good (indeed often any) training data, as well as lack of adoption of major language technologies for local problems.</p>
                            <p>Ghana NLP is an Open Source Initiative focused on Natural Language Processing (NLP) of Ghanaian Languages, & its Applications to Local Problems. 
                                While we will begin work on Ghanaian languages initially, likely focusing on Twi due to number of speakers,
                                 our ultimate goal is for our tools to be applicable throughout the West African subregion and beyond.</p>
                            <div class="ab-mark-text">
                                <ul>
                                    <li><a href="#">Develop better data sources to train state-of-the-art (SOTA) NLP techniques for Ghanaian languages.</a>
                                    </li>
                                    <li><p>Contribute to adapting SOTA techiques to work better in a lower resource setting such as this one.</p>
                                    </li>
                                    <li><p>Build functional systems for local applications, e.g., a “Google Translate” for Twi, Ewe, Frafra, etc.</p></li>
                                </ul>
                            </div>
                            <div class="about-company">
                                <div class="single-about">
                                    <div class="ab-text-one">
                                        <span class="about-icon"><i class="flaticon-082-networking"></i></span>
                                        <span class="ab-text">Dedicated <br /> Team</span>
                                    </div>
                                </div>
                                <div class="single-about">
                                    <div class="ab-text-two">
                                        <span class="about-icon"><i class="flaticon-033-goal"></i></span>
                                        <span class="ab-text">Goal <br /> Achivment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Column -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="ab-image">
                        <img src="{{'/assets/img/about/ab2.jpg' | relative_url }}" alt="">
                        <div class="flat-content">
                            <span class="flat-text"> Are you looking for professional expert for your new
                                business</span>
                            <span class="flat-text f-text-down"> Are you looking for professional expert for your new
                                business</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About area -->
    {% include sections/team-members.html %}
    {% include sections/feature-section.html %}
    {% include sections/brand-section.html %}
    {% comment %} {% include sections/review-section.html %} {% endcomment %}

</main>