--- 
layout: default
home: 1
--- 
<main>
    
    {% include sections/intro-section.html %}
    {% include sections/w-service-section.html %}
    {% include sections/about-section.html %}
    {% include sections/service-section.html %}
    {% include sections/counter-section.html %}
    {% include sections/project-section.html %}
    {% include sections/feature-section.html %}
    {% include sections/brand-section.html %}
    {% include sections/review-section.html %}
    {% include sections/blog-section.html %}
    
</main>
