---
layout: default
section_id: home
title: GhanaNLP | Home
slides:
  - bg: images/@stock/neurips-poster.jpg
    
  - bg: images/@stock/maxresdefault.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: 
    title:
      klass: bottom-to-top
      text: 
    buttons:
      klass: bottom-to-top
      items:
        - text: WATCH NOW
          link_to: https://www.youtube.com/watch?v=JN4xminaGc0&ab_channel=GhanaNLP
  - bg: images/@stock/slide-5.jpg
    small_title:
      klass: bottom-to-top
      text: Read more about the research works that <br> our members have done
    title:
      klass: bottom-to-top
      text: 
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: https://github.com/GhanaNLP


works:
  - image: images/khaya.webp
    title: Khaya Mobile App
    link_to: khaya.html
    klass: graphi-design
    desc: Khaya is the first ever translation app for Ghanaian languages relying on Artificial Intelligence. The underlying algorithm is a transformer neural network, built by Algorine Research on top of open source technology developed by Ghana NLP.
  - image: images/ghananlp.webp
    title: Multilingual NLP
    link_to: multi-nlp.html
    klass: graphi-design
    desc: Multilingual NLP
  - image: images/ghdataset-thumbnail.png
    title: Some NLP Datasets
    link_to: nlp-datasets.html
    klass: graphi-design
    desc: Here are some NLP Datasets worked upon to boost the intelligence of ABENA
  - image: images/Abena.png
    title: ABENA; BERT Natural Language Processing for Twi
    link_to: abena.html
    klass: graphi-design
    desc: This project contains the training scripts for training our ABENA family of models for BERT-type NLP on the Ghanaian language Twi. ABENA stands for "A BERT Now in Akan".


achievements:
  - icon: trophy
    title: Khaya
    desc: We have released the first ever translator for Ghanaian languages based in Artificial Intelligence. For more details, kindly visit the Google Playstore <a href="https://play.google.com/store/apps/details?id=com.nlpghana.khaya" target="_blank">(https://play.google.com/store/apps/details?id=com.nlpghana.khaya)</a>
  - icon: cogs
    title: Ghana NLP - Computational Mapping of Ghanaian Languages
    desc: Beyond translation, fundamental tools for computational analysis are lacking. Tools for summarization, classification, language detection, voice-to-text transcription are limited, and in most cases completely nonexistent. It is a major risk to Ghanaian national security — availability of these tools is directly correlated with the sophistication and efficiency of cyber-security solutions that can be deployed to defend critical social, cultural and cyber infrastructure from both internal and external threats.
  - icon: compass
    title: NeurIPS 2020 Overview - Ghana Edition
    desc: We were privilege to have our leader Dr Paul Azunre, talk about how the progress so far with Natural Language Processing with Ghanaian languages has been and also other interesting matters concerning the community. 
  - icon: image
    title: NeurIPS 2019 Overview
    desc: The theme of interpretability was particularly prominent for the Natural Language Processing (NLP) works at the conference. AllenNLP – the creators of the ELMo architecture, which sparked the recent pretrained Language model craze that includes its successor BERT – presented their NLP interpretability system “Interpret” as a demo. Interpretability is particularly important for NLP, given that recently all of the state-of-the-art models are neural network models which often come across as “black boxes” with no particular explanation for how they arrive at their predictions.


milestones:
  - icon: language
    from: 0
    to: 17
    title: Ghanaian Languages Supported
  - icon: refresh
    from: 0
    to: 726
    title: Sentences Translated
  - icon: users
    from: 0
    to: 105
    title: Contributors
  - icon: files-o
    from: 0
    to: 15
    title: Open Source Projects

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}}); background-size: 1400px 600px !important; background-repeat: no-repeat;'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Natural Language Processing' desc='This is a subfield of linguistics, computer science, and artificial intelligence concerned with the interactions between computers and human language, in particular how to program computers to process and analyze large amounts of natural language data.' icon_class='fa fa-comment-o' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Computer Vision' desc='This is an interdisciplinary scientific field that deals with how computers can gain high-level understanding from digital images or videos. From the perspective of engineering, it seeks to understand and automate tasks that the human visual system can do.' icon_class='fa fa-bullseye' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Data Research' desc='This is any information that has been collected, observed, generated or created to validate original research findings. Although usually digital, research data also includes non-digital formats such as laboratory notebooks and diaries.' icon_class='fa fa-database' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Transfer Learning' desc='Transfer learning is a research problem in machine learning that focuses on storing knowledge gained while solving one problem and applying it to a different but related problem. For example, knowledge gained while learning to recognize cars could apply when trying to recognize trucks.' icon_class='fa fa-exchange' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our works" %}
      <div class="spacing"></div>
      <p style="text-align:center">
        In this section, you'll see list of core projects that GhanaNLP has been able to produce.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" style="height: 500px !important" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Achievements" %}
      <div class='spacing'></div>
      <p style="text-align:center">
        Here are some of the milestones we have able to achieve.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/achievements.svg" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for achievement in page.achievements %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{achievement.icon}}'></i>
            <h3>{{achievement.title}}</h3>
            <p>{{achievement.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>


<div class='full parallax' style='background-image: url(images/underwater.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Contributions" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #ccc;'>
        Ghana NLP is an Open Source Initiative focused on Natural Language Processing (NLP) of Ghanaian Languages, & its Applications to Local Problems. While we will begin work on Ghanaian languages initially, likely focusing on Twi due to number of speakers, our ultimate goal is for our tools to be applicable throughout the West African subregion and beyond.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

{%- comment -%} <div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
      <div class='spacing'></div>
      <p style="text-align:center">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div> {%- endcomment -%}


{% include our-customers.html %}
