---
layout: default
title: Team members
permalink: /team
---

<main>
    <!-- Start Breadcrumb Area -->
    <div class="page-area bread-pd">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-title text-center">
                        <h2>{{page.title}}</h2>
                        <div class="bread-come">
                            {% include breadcrumb.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->
    <!-- Team area start -->
    <div class="team-area bg-color-xs area-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="section-headline text-center">
                        <span class="top-text">
                            <i class="ti-id-badge"></i>
                            <span>Expert teams</span>
                        </span>
                        <h2>Team members</h2>
                        <p>We help agencies to define their new business objectives and then create the road map</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for member in site.data.team-members %}
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        {% include member-card.html %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- team area end -->
</main>