{% if page.home == 1 %}
    {% assign classes = '' %}
{% elsif page.home == 2 %}
    {% assign classes = 'brand-area-2' %}
{% endif %}
<!-- Start Brand Area -->
<div class="brand-area {{classes}} ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="brand-content">
                    <div class="brand-carousel owl-carousel">
                        {% for brand in site.data.brands %}
                            {% if brand.img_src %}
                            <div class="single-brand-item">
                                <a href="{{brand.url | relative_url}}" target="_blank"><img src="{{brand.img_src | relative_url }}" alt="{{brand.name}}"></a>
                            </div>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->