 <!-- Start Feature Area -->
<div class="feature-area {% if page.home != 4 %} bg-color {% endif %} fix area-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-all">
                    <div class="right-headline">
                        <span class="top-text">
                            <i class="ti-stats-up"></i>
                            <span>Achievments</span>
                        </span>
                        <h2>Redron technology startup provides clients security</h2>
                        <p>The phrasal sequence of the Lorem Ipsum text is now so and that many the phrase when
                            found, an alarm can be raised.</p>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.3s">
                        <a class="support-images" href="#"><i class="flaticon-073-speech"></i></a>
                        <div class="support-content">
                            <h4>KHAYA</h4>
                            <p>We have released the first ever translator for Ghanaian languages based in Artificial Intelligence. 
                                For more details, kindly visit the Google Playstore <a href="https://play.google.com/store/apps/details?id=com.nlpghana.khaya">Download Google App</a></p>
                        </div>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.7s">
                        <a class="support-images" href="#"><i class="flaticon-002-globe"></i></a>
                        <div class="support-content">
                            <h4>GHANA NLP - COMPUTATIONAL MAPPING OF GHANAIAN LANGUAGES</h4>
                            <p>Beyond translation, fundamental tools for computational analysis are lacking. Tools for summarization, classification, language detection, voice-to-text transcription are limited,
                                 and in most cases completely nonexistent. It is a major risk to Ghanaian national security — availability of these tools is directly correlated with the sophistication and efficiency
                                  of cyber-security solutions that can be deployed to defend critical social, cultural and cyber infrastructure from both internal and external threats.</p>
                        </div>
                    </div>
                    <!-- about single -->
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-content">
                    <div class="feature-images">
                        <img src="{{'/assets/img/feature/vv2.png' | relative_url }}" alt="" class="first-img">
                        <!--

                            <img src="{{'/assets/img/feature/sd.jpg' | relative_url }}" alt="" class="over-img">
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature Area -->

<!-- Start Feature Area -->
<div class="feature-area feature-area-2 fix area-padding {% if  page.home == 4 %} bg-color {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-content">
                    <div class="feature-images">
                        <img src="{{'/assets/img/feature/vd3.jpg' | relative_url }}" alt="" class="first-img">
                        <!--

                            <img src="{{'/assets/img/feature/sd1.jpg' | relative_url }}" alt="" class="over-img">
                        -->
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-all">
                    <div class="right-headline">
                        <span class="top-text">
                            <i class="ti-stats-up"></i>
                            <span>Achievments</span>
                        </span>
                        <h2>Redron technology startup provides clients security</h2>
                        <p>The phrasal sequence of the Lorem Ipsum text is now so and that many the phrase when
                            found, an alarm can be raised.</p>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.3s">
                        <a class="support-images" href="#"><i class="flaticon-014-hierarchical-structure"></i></a>
                        <div class="support-content">
                            <h4>NEURIPS 2020 OVERVIEW - GHANA EDITION</h4>
                            <p>We were privilege to have our leader Dr Paul Azunre, talk about how the 
                                progress so far with Natural Language Processing with Ghanaian languages 
                                has been and also other interesting matters concerning the community.</p>
                        </div>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.7s">
                        <a class="support-images" href="#"><i class="flaticon-125-analytics"></i></a>
                        <div class="support-content">
                            <h4>NEURIPS 2019 OVERVIEW</h4>
                            <p>The theme of interpretability was particularly prominent for the Natural Language Processing (NLP) works at the conference.
                                 AllenNLP – the creators of the ELMo architecture, which sparked the recent pretrained Language model craze that includes its successor BERT – presented their NLP interpretability system “Interpret” as a demo. 
                                 Interpretability is particularly important for NLP, given that recently all of the state-of-the-art models are neural network models which often come
                                 across as “black boxes” with no particular explanation for how they arrive at their predictions..</p>
                        </div>
                    </div>
                    <!-- about single -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature Area -->