{% if page.home == 1 %}
{% assign classes = 'area-padding-2' %}
{% elsif page.home == 2 %}
{% assign classes = 'area-padding-2 project-area-2' %}
{% endif %}
<!-- Start project Area -->
<div class="project-page-area {{classes}}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="section-headline text-center">
                    <span class="top-text">
                        <i class="ti-layout"></i>
                        <span>WHAT WE HAVE DONE</span>
                    </span>
                    <h2>Our Projects</h2>
                    <p>We lead local AI innovation through groundbreaking projects for Ghanaian languages. From the first AI translator built for them to the most comprehensive benchmarks yet published, we make what did not exist before.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-carousel owl-carousel">
                {% assign projects = site.projects | sort: 'date' | reverse %}
                {% for project in projects %}
                    {% include project-card.html %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End main content -->
</div>
<!-- End project Area -->