<!-- Start Quote Area -->
<div class="quote-area fix bg-color">
    <div class="container-full">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-4">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="quote-all">
                    <div class="sub-head white-headline">
                        <h2>Request a <span class="color">Call back</span></h2>
                        <p>Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit
                            explicabo nisi magnam quibusdam.</p>
                    </div>

                    <form id="contactForm" action="https://formspree.io/mknqezny" method="POST" class="contact-form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="name" name="Name" class="form-control" placeholder="Name" required
                                    data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                                <input type="email" name="Email" class="email form-control" id="email" placeholder="Email"
                                    required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                                <input type="text" name="Subject" id="msg_subject" class="form-control last-part"
                                    placeholder="Subject" required data-error="Please enter your message subject">
                                <div class="help-block with-errors last-part"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea name="Message" id="message" rows="7" placeholder="Massage" class="form-control" required
                                    data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                                <button type="submit" id="submit" class=" anti-btn quote-btn">Submit</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Quote Area -->