<!-- Start service area -->
<div class="service-area {% if page.home != 4 %}bg-color {% endif %} area-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="section-headline text-center">
                    <span class="top-text">
                        <i class="ti-layers"></i>
                        <span>What we do</span>
                    </span>
                    <h2>Our services</h2>
                    <p>We help agencies to define their new business objectives and then create the road map</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% assign services = site.services | where: 'service_card_layout', 2 %}
            {% for service in services %}
                <!-- single dervices -->
                <div class="col-xl-4 col-lg-4 col-md-6">
                    {% include service-card-layout-2.html %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End service area -->