<!-- Start service area -->
<div class="service-area {% if page.home != 4 %}bg-color {% endif %} area-padding-2">
    <div class="container">

        {% comment %} <h3 class="text-center"> Under Maintainance</h3> {% endcomment %}
       <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="section-headline text-center">
                    <h2>Get Involved</h2>
                    <p>Here is a list of outlets to aid you join and contribute to the community at large</p>
                </div>
            </div>
        </div>
        <div class="row">


            {% comment %} <h4 class="text-center">Under maintaince</h4> {% endcomment %}
        
            {% assign getinvolved = site.getinvolved | where: 'service_card_layout', 2 %}
                {% for getinvolved in getinvolved %}
                    <!-- single dervices -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        {% include service-card-layout-2.html %}
                    </div>
                {% endfor %}
        
        </div>

    </div>
</div>
<!-- End service area -->