{% assign limit = -1 %}
<!-- Team area start -->
<div class="team-area area-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="section-headline text-center">
                    <h2>Board</h2>
                    <p>The people who steer Ghana NLP</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for member in site.data.team-members.team limit:{{limit}} %}
            <!-- Single team member -->
            <div class="col-xl-4 col-lg-4 col-md-4 {% if forloop.index == 4 %} d-lg-none {% endif %}">
                {% include member-card.html %}
            </div>
            {% endfor %}

        </div>

        
    </div>
</div>
<!-- team area end -->