{% assign name_parts = contributor.name | split: " " %}
{% assign initials = name_parts[0] | slice: 0 %}
{% if name_parts.size > 1 %}
  {% assign last_name = name_parts | last %}
  {% assign last_initial = last_name | slice: 0 %}
  {% assign initials = initials | append: last_initial %}
{% endif %}
<div class="single-contributor" id="{{ contributor.slug }}">
    <div class="contributor-head">
        {% if contributor.img %}
            <img class="contributor-photo" src="{{ contributor.img | relative_url }}"
                 alt="{{ contributor.name }}" width="52" height="52" loading="lazy">
        {% else %}
            <span class="contributor-initials" aria-hidden="true">{{ initials | upcase }}</span>
        {% endif %}
        <h4 class="contributor-name">{{ contributor.name }}</h4>
        <a class="contributor-anchor" href="#{{ contributor.slug }}"
           aria-label="Link to {{ contributor.name }}" title="Link to this contributor">
            <i class="fa fa-link"></i>
        </a>
        {% if contributor.linkedin %}
            <a class="contributor-linkedin" href="{{ contributor.linkedin }}" target="_blank"
               rel="noopener" aria-label="{{ contributor.name }} on LinkedIn">
                <i class="fa fa-linkedin"></i>
            </a>
        {% endif %}
    </div>
    {% if contributor.projects %}
        <ul class="contributor-projects">
            {% for project in contributor.projects %}
                <li><a href="{{ project.url }}" target="_blank" rel="noopener">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
