<div class="single-member">
    <div class="team-img">
        {% if member.img_src %}
        <a href="{{member.website | relative_url}}">
            <img src="{{member.img_src  | relative_url }}" alt="{{member.name}}">
        </a>
        {% endif %}
        <ul class="team-hover">

            {% if member.linkedin %}
                <li><a href="{{member.linkedin | relative_url }}"><i class="fa fa-linkedin"></i></a></li>
            {% endif %}

            {% if member.twitter %}
                <li><a href="{{member.twitter | relative_url }}"><i class="fa fa-twitter"></i></a></li>
            {% endif %}

            {% if member.github %}
                <li><a href="{{member.github | relative_url }}"><i class="fa fa-github"></i></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="team-content">
        <h4>{{member.name}}</h4>
        <p>{{member.designation}}</p>
    </div>
</div>