
<div class="single-service wow fadeInUp" data-wow-delay="0.3s">
    {% if getinvolved.icon %}
    <div class="service-icon">
        <img src="{{'getinvolved.icon | relative_url }}" alt="{{getinvolved.title}}">
    </div>
    {% endif %}
    <div class="service-inner">
        <div class="service-content">
            <h4>{{getinvolved.title}}</h4>
            <p>{{getinvolved.description}}</p>
            <a class="service-btn" href="{{getinvolved.url | relative_url }}"><i class="ti-arrow-top-right"></i></a>
        </div>
    </div>
</div>