---
layout: default
pagination:
    enabled: true
---

<main>
    <!-- Start Breadcrumb Area -->
    <div class="page-area bread-pd">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-title text-center">
                        <h2>{{page.title}}</h2>
                        <div class="bread-come">
                            {% include breadcrumb.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->
    <!--Blog Area Start-->
    <div class="blog-area blog-area-2 blog-grid bg-color-xs fix area-padding-2">
        <div class="container">
            <div class="row infinite-scroll">
                {% for post in paginator.posts %}
                <!-- Start single blog -->
                <div class="col-xl-4 col-lg-4 col-md-6 post-item">
                    {% include post-card-02.html %}
                </div>
                <!-- End single blog -->
                {% endfor %}
            </div>
            {% include pagination.html %}
        </div>
    </div>
    <!--End Blog Area-->
</main>